.options{
  position: absolute;
  background-color: #4d0000;
  height: 80%;
  width: 30%;
  top: 15%;
  left: 67%;
  border-radius: 15px;
}
.option{
  position: absolute;
  background-color: #4d0000;
  height: 80%;
  width: 60%;
  top: 15%;
  left: 2%;
  border-radius: 15px;
}
.bottom_decor{
  position: absolute;
  bottom: -0%;
  height: 5%;
  right: 0%;
  width: 100%;
  background-color: black;
}